.git
.gitignore
.expo
.env
.env.*
node_modules
web/node_modules
web/dist
functions/node_modules
functions/lib
dist-web
coverage
.DS_Store
stitch.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
docker-compose.override.yml
